﻿
#levantar servidor Python no cmd<br/>
- ir até a pasta<br/>
- python -m http.server<br/><br/>

#formatador de texto recebido com base na linguagem definida (ou inferida)<br/>
- http://jinja.pocoo.org/<br/><br/>

#levantar servidor (outra forma)<br/>
- http://flask.pocoo.org/<br/>
<a href='/flask_test.py'>Exemplo</a>